name: Build and Publish New Release

on:
  push:
    branches:
    - main
  workflow_dispatch:

jobs:
   build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - run: |
        npm install
        git commit -a -m "add packages"
    - run: npm version patch
    - run: npx electron-builder --win
    - run: npx electron-builder --mac
    - run: |
        echo "APP_VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_ENV
        gh release create $APP_VERSION dist/*.dmg dist/*.exe --title "$APP_VERSION released" --notes "New release available."