name: Build and Publish New Release

on:
  push:
    branches:
    - main
  workflow_dispatch:

jobs:
   build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2

    - run: |
        npm install
        git commit -a -m "add packages"
    - run: npm version patch
    - run: npx electron-builder --win --publish=never
    - run: npx electron-builder --mac --publish=never
    - run: gh auth login --with-token {{ secrets.GH_PAT }}
    - run: echo "APP_VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_ENV    
    - run: gh release create $APP_VERSION dist/*.dmg dist/*.exe --title "$APP_VERSION released" --notes "New release available."